<div class="pokeholder">
  <img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>"><img src="http://pokeapi.co<%= @sprite.sprite_url %>">
</div>